In [10]:
import pandas as pd

In [14]:
data = '/Users/ranjithvennam7/Downloads/2015_NewNeighb_Boundaries with coordinates.xlsx'

In [18]:
df= pd.read_excel(data)

In [19]:
df.dtypes

PIN                                                 float64
Assessment Year                                       int64
Property Use                                         object
Homestead                                            object
Land Square Footage                                 float64
Acres                                               float64
Neighborhood                                         object
Total Gross SF                                        int64
Just Value                                            int64
Assessed Value – School District                      int64
Assessed Value – Non-School District                  int64
Taxable Value – School District                       int64
Taxable Value – Non-School District                   int64
Land Value                                            int64
Physical Address                                     object
Physical City                                        object
Physical Zip Code                                     int64
Longitude                                           float64
Latitude                                            float64
Group 3 Question: Location Relevant to 5th Ave S     object
dtype: object

In [20]:
df.isna().sum()

PIN                                                    1
Assessment Year                                        0
Property Use                                           2
Homestead                                              2
Land Square Footage                                    0
Acres                                                  0
Neighborhood                                           0
Total Gross SF                                         0
Just Value                                             0
Assessed Value – School District                       0
Assessed Value – Non-School District                   0
Taxable Value – School District                        0
Taxable Value – Non-School District                    0
Land Value                                             0
Physical Address                                      88
Physical City                                         88
Physical Zip Code                                      0
Longitude                                           1878
Latitude                                            1878
Group 3 Question: Location Relevant to 5th Ave S       0
dtype: int64

In [24]:
df1 = df.dropna(subset=['PIN', 'Property Use', 'Homestead', 'Physical Address', 'Physical City','Longitude','Latitude'])

In [25]:
df1.isna().sum()

PIN                                                 0
Assessment Year                                     0
Property Use                                        0
Homestead                                           0
Land Square Footage                                 0
Acres                                               0
Neighborhood                                        0
Total Gross SF                                      0
Just Value                                          0
Assessed Value – School District                    0
Assessed Value – Non-School District                0
Taxable Value – School District                     0
Taxable Value – Non-School District                 0
Land Value                                          0
Physical Address                                    0
Physical City                                       0
Physical Zip Code                                   0
Longitude                                           0
Latitude                                            0
Group 3 Question: Location Relevant to 5th Ave S    0
dtype: int64

In [26]:
df1.to_excel("/Users/ranjithvennam7/Downloads/2015data_updated.xlsx", index=False)

In [43]:
data2 = '//Users/ranjithvennam7/Downloads/2022_NewNeighbBoundaries with coordinates.xlsx'

In [44]:
df2= pd.read_excel(data2)

In [45]:
df2.dtypes

PIN                                                   int64
Assessment Year                                       int64
Property Use                                         object
Homestead                                            object
Land Square Footage                                 float64
Acres                                               float64
Neighborhood                                         object
Total Gross SF                                        int64
Just Value                                            int64
Assessed Value – School District                      int64
Assessed Value – Non-School District                  int64
Taxable Value – School District                       int64
Taxable Value – Non-School District                   int64
Land Value                                            int64
Physical Address                                     object
Physical City                                        object
Physical Zip Code                                     int64
Longitude                                           float64
Latitude                                            float64
Group 3 Question: Location Relevant to 5th Ave S     object
dtype: object

In [46]:
df2.isna().sum()

PIN                                                    0
Assessment Year                                        0
Property Use                                          23
Homestead                                             19
Land Square Footage                                    0
Acres                                                  0
Neighborhood                                           0
Total Gross SF                                         0
Just Value                                             0
Assessed Value – School District                       0
Assessed Value – Non-School District                   0
Taxable Value – School District                        0
Taxable Value – Non-School District                    0
Land Value                                             0
Physical Address                                      83
Physical City                                         83
Physical Zip Code                                      0
Longitude                                           1412
Latitude                                              83
Group 3 Question: Location Relevant to 5th Ave S       0
dtype: int64

In [47]:
df3 = df2.dropna(subset=['Property Use', 'Homestead', 'Physical Address', 'Physical City','Longitude','Latitude'])

In [49]:
df3.isna().sum()

PIN                                                 0
Assessment Year                                     0
Property Use                                        0
Homestead                                           0
Land Square Footage                                 0
Acres                                               0
Neighborhood                                        0
Total Gross SF                                      0
Just Value                                          0
Assessed Value – School District                    0
Assessed Value – Non-School District                0
Taxable Value – School District                     0
Taxable Value – Non-School District                 0
Land Value                                          0
Physical Address                                    0
Physical City                                       0
Physical Zip Code                                   0
Longitude                                           0
Latitude                                            0
Group 3 Question: Location Relevant to 5th Ave S    0
dtype: int64

In [50]:
df3.to_excel("/Users/ranjithvennam7/Downloads/2022data_updated.xlsx", index=False)

In [51]:
import pandas as pd

In [68]:
excel1= '/Users/ranjithvennam7/Downloads/2015data_updated.xlsx'

In [69]:
excel2='/Users/ranjithvennam7/Downloads/2022data_updated.xlsx'

In [70]:
df10 = pd.read_excel(excel1)

In [71]:
df11 = pd.read_excel(excel2)

In [72]:
print(df10)

                      PIN  Assessment Year  \
0      273116498780070112             2015
1      333116967140030208             2015
2      363116491760000384             2015
3      253116296820100096             2015
4      233116783900320000             2015
...                   ...              ...
12922  363116653580049984             2015
12923  363116490680000320             2015
12924  253116142200000000             2015
12925  253116296640070016             2015
12926  333116113940150272             2015

                                         Property Use Homestead  \
0                                  Single Family Home        No
1                                  Single Family Home       Yes
2                                  Single Family Home        No
3                                  Single Family Home        No
4                                   General Warehouse        No
...                                               ...       ...
12922                              Single Family Home       Yes
12923                              Single Family Home       Yes
12924                              Single Family Home       Yes
12925                              Single Family Home        No
12926  Single Family - more than one house per parcel       Yes

       Land Square Footage     Acres          Neighborhood  Total Gross SF  \
0              6074.899398  0.139461           CHILDS PARK            1540
1              5529.363480  0.126937           TWIN BROOKS            1380
2              5966.722125  0.136977  LAKE MAGGIORE SHORES            1128
3              6162.907718  0.141481     FRUITLAND HEIGHTS            1293
4             24273.093507  0.557234         PALMETTO PARK           11044
...                    ...       ...                   ...             ...
12922         10116.878839  0.232252            HARBORDALE            1652
12923          7171.864576  0.164643  LAKE MAGGIORE SHORES            1886
12924          5260.810872  0.120772        CASLER HEIGHTS            1557
12925          6142.190545  0.141005     FRUITLAND HEIGHTS             942
12926          9360.017061  0.214876           TWIN BROOKS             864

       Just Value  Assessed Value – School District  \
0           40950                             40950
1           40607                             30181
2           32078                             32078
3           30519                             30519
4          228000                            228000
...           ...                               ...
12922       35627                             32121
12923       59482                             37748
12924       63122                             59336
12925       29454                             29454
12926       68150                             34486

       Assessed Value – Non-School District  Taxable Value – School District  \
0                                     27533                            40950
1                                     30181                             5181
2                                     27926                            32078
3                                     30519                            30519
4                                    228000                           228000
...                                     ...                              ...
12922                                 32121                             7121
12923                                 37748                            12748
12924                                 44902                            54096
12925                                 29454                            29454
12926                                 34486                             9486

       Taxable Value – Non-School District  Land Value Physical Address  \
0                                    27533        4772  3834 14TH AVE S
1                                     5181        4180   2447 46TH ST S
2                                    27926        7934   2424 13TH ST S
3                                    30519        5427  1817 20TH AVE S
4                                   228000       97941    323 23RD ST S
...                                    ...         ...              ...
12922                                 7121        7113   746 26TH AVE S
12923                                12748        9669  2500 QUEEN ST S
12924                                39662        7452  2155 22ND AVE S
12925                                29454        5575   2001 16TH ST S
12926                                 9486        9616  4715 26TH AVE S

       Physical City  Physical Zip Code  Longitude   Latitude  \
0      ST PETERSBURG              33711 -82.685318  27.756458
1      ST PETERSBURG              33711 -82.695677  27.746330
2      ST PETERSBURG              33705 -82.652039  27.746092
3      ST PETERSBURG              33712 -82.658132  27.750284
4      ST PETERSBURG              33712 -82.664484  27.768102
...              ...                ...        ...        ...
12922  ST PETERSBURG              33705 -82.643418  27.744778
12923  ST PETERSBURG              33712 -82.657241  27.745577
12924  ST PETERSBURG              33712 -82.662128  27.748461
12925  ST PETERSBURG              33705 -82.654810  27.750168
12926  ST PETERSBURG              33711 -82.697888  27.744734

      Group 3 Question: Location Relevant to 5th Ave S
0                                   South of 5th Ave S
1                                   South of 5th Ave S
2                                   South of 5th Ave S
3                                   South of 5th Ave S
4                                On/North of 5th Ave S
...                                                ...
12922                               South of 5th Ave S
12923                               South of 5th Ave S
12924                               South of 5th Ave S
12925                               South of 5th Ave S
12926                               South of 5th Ave S

[12927 rows x 20 columns]

In [73]:
dataframes = [df10,df11]

In [74]:
join = pd.concat(dataframes)

In [75]:
join.to_excel("/Users/ranjithvennam7/Downloads/2015&2022data_updated.xlsx")